<!DOCTYPE html>
<html lang="en">
<head>
    {% block parent_head %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Omnichannel{% endblock %}</title>
    {% block head %}
    <!--head-->
    {% endblock %}
    {% endblock %}
</head>

<body>
    {% block before_body_start %}
    <!--body_start-->
    {% endblock %}
    <header>
        {% block header %}
        <nav id="sidebar">
            {% block navbar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            {% endblock %}
        </nav>
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        {% block footer %}{% endblock %}
    </footer>
    {% block before_body_end %}
    <!--body_end-->
    {% endblock %}
</body>
</html>