<!DOCTYPE html>
<html lang="en">
<head>
<!--parent_head-->
{% block parent_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block static_files %}
    <!--all default files-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    {% block add_static %}
    <!--add more static files here-->
    {% endblock %}

    {% endblock %}

    <title>{% block title %}Omnichannel{% endblock %}</title>

    {% block head %}
    <!--head-->
    {% endblock %}
{% endblock %}
<!--end parent_head-->
</head>

<body>
    {% block before_body_start %}
    <!--body_start-->
    {% endblock %}
    <header>
        {% block header %}
        <nav id="sidebar">
            {% block navbar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            {% endblock %}
        </nav>
        {% endblock %}
    </header>

    <!--content-->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!--end content-->

    <footer id="footer">
        {% block footer %}{% endblock %}
    </footer>

    {% block before_body_end %}
    <!--body_end-->
    {% endblock %}

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>