{% extends "content.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Demo System!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Demo Sites</div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr><th>#</th> <th>Path</th> <th>Name</th> <th>Owner</th> <th>Status</th> </tr>
                        </thead>
                        <tbody>
                            <tr><th scope="row">1</th> <td>/starter-m2</td> <td>Starter M2</td> <td>Robert</td> <td>Active</td></tr>
                            <tr><th scope="row">2</th> <td>/grow-m2</td> <td>Growth M2</td> <td>Robert</td> <td>Stopped</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}