{% extends "content.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Demo System!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <div class="list site">
                    <ul class="list">
                        <li class="li_head li_row">
                            <ul>
                                <li>col 1</li>
                                <li>col 2</li>
                                <li>col 3</li>
                                <li>col 4</li>
                            </ul>
                        </li>
                        <li class="li_row row_1">
                            <ul>
                                <li>col 1</li>
                                <li>col 2</li>
                                <li>col 3</li>
                                <li>col 4</li>
                            </ul>
                        </li>
                        <li class="li_row row_2">
                            <ul>
                                <li>col 1</li>
                                <li>col 2</li>
                                <li>col 3</li>
                                <li>col 4</li>
                            </ul>
                        </li>
                        <li class="li_row row_3">
                            <ul>
                                <li>col 1</li>
                                <li>col 2</li>
                                <li>col 3</li>
                                <li>col 4</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}