{% extends "content.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Demo System!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Demo Sites</div>
                    {% block sites %}
                    {% include "list/sites.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}